@media (max-width: 992px) {
  .right{
    text-align: left;
  }
  .mar_top{
    margin-top: 30px;
  }
 .five{
   text-align:center;
 }

 h1{
   font-size:56px;
 }
 
 #caruselControl{
   display:none;
 }
  #carusel {
    position: relative;
    width: auto;
    left:0!important;
  }
  #instGallery .container{
    height: auto;
  }
}

