.preload{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: white;
  top: 0px;

}
.cssload-preloader {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
}

.cssload-preloader > .cssload-preloader-box {
  position: absolute;
  height: 22px;
  top: 50%;
  left: 50%;
  margin: -11px 0 0 -143px;
  perspective: 145px;
    -o-perspective: 145px;
    -ms-perspective: 145px;
    -webkit-perspective: 200px;
    -moz-perspective: 145px;
}

.cssload-preloader .cssload-preloader-box > div {
  position: relative;
  width: 22px;
  height: 22px;
  float: left;
  text-align: center;
  line-height: 22px;
  font-size: 14px;
  color: rgb(255,255,255);
}
.cssload-preloader .cssload-preloader-box > div:nth-child(1) {
	background: rgb(51,102,255);
	animation: cssload-movement 1320ms ease 0ms infinite alternate;
		-o-animation: cssload-movement 1320ms ease 0ms infinite alternate;
		-ms-animation: cssload-movement 1320ms ease 0ms infinite alternate;
		-webkit-animation: cssload-movement 1320ms ease 0ms infinite alternate;
		-moz-animation: cssload-movement 1320ms ease 0ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(2) {
	background: rgb(51,102,255);
	animation: cssload-movement 1320ms ease 165ms infinite alternate;
		-o-animation: cssload-movement 1320ms ease 165ms infinite alternate;
		-ms-animation: cssload-movement 1320ms ease 165ms infinite alternate;
		-webkit-animation: cssload-movement 1320ms ease 165ms infinite alternate;
		-moz-animation: cssload-movement 1320ms ease 165ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(3) {
	background: rgb(51,102,255);
	animation: cssload-movement 1320ms ease 330ms infinite alternate;
		-o-animation: cssload-movement 1320ms ease 330ms infinite alternate;
		-ms-animation: cssload-movement 1320ms ease 330ms infinite alternate;
		-webkit-animation: cssload-movement 1320ms ease 330ms infinite alternate;
		-moz-animation: cssload-movement 1320ms ease 330ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(4) {
	background: rgb(51,102,255);
	animation: cssload-movement 1320ms ease 495ms infinite alternate;
		-o-animation: cssload-movement 1320ms ease 495ms infinite alternate;
		-ms-animation: cssload-movement 1320ms ease 495ms infinite alternate;
		-webkit-animation: cssload-movement 1320ms ease 495ms infinite alternate;
		-moz-animation: cssload-movement 1320ms ease 495ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(5) {
	opacity:0;
	animation: cssload-movement 1320ms ease 660ms infinite alternate;
		-o-animation: cssload-movement 1320ms ease 660ms infinite alternate;
		-ms-animation: cssload-movement 1320ms ease 660ms infinite alternate;
		-webkit-animation: cssload-movement 1320ms ease 660ms infinite alternate;
		-moz-animation: cssload-movement 1320ms ease 660ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(6) {
	background: rgb(51,102,255);
	animation: cssload-movement 1320ms ease 825ms infinite alternate;
		-o-animation: cssload-movement 1320ms ease 825ms infinite alternate;
		-ms-animation: cssload-movement 1320ms ease 825ms infinite alternate;
		-webkit-animation: cssload-movement 1320ms ease 825ms infinite alternate;
		-moz-animation: cssload-movement 1320ms ease 825ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(7) {
	background: rgb(51,102,255);
	animation: cssload-movement 1320ms ease 990ms infinite alternate;
		-o-animation: cssload-movement 1320ms ease 990ms infinite alternate;
		-ms-animation: cssload-movement 1320ms ease 990ms infinite alternate;
		-webkit-animation: cssload-movement 1320ms ease 990ms infinite alternate;
		-moz-animation: cssload-movement 1320ms ease 990ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(8) {
	background: rgb(51,102,255);
	animation: cssload-movement 1320ms ease 1155ms infinite alternate;
		-o-animation: cssload-movement 1320ms ease 1155ms infinite alternate;
		-ms-animation: cssload-movement 1320ms ease 1155ms infinite alternate;
		-webkit-animation: cssload-movement 1320ms ease 1155ms infinite alternate;
		-moz-animation: cssload-movement 1320ms ease 1155ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(9) {
	background: rgb(51,102,255);
	animation: cssload-movement 1320ms ease 1320ms infinite alternate;
		-o-animation: cssload-movement 1320ms ease 1320ms infinite alternate;
		-ms-animation: cssload-movement 1320ms ease 1320ms infinite alternate;
		-webkit-animation: cssload-movement 1320ms ease 1320ms infinite alternate;
		-moz-animation: cssload-movement 1320ms ease 1320ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(10) {
	background: rgb(51,102,255);
	animation: cssload-movement 1320ms ease 1485ms infinite alternate;
		-o-animation: cssload-movement 1320ms ease 1485ms infinite alternate;
		-ms-animation: cssload-movement 1320ms ease 1485ms infinite alternate;
		-webkit-animation: cssload-movement 1320ms ease 1485ms infinite alternate;
		-moz-animation: cssload-movement 1320ms ease 1485ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(11) {
  background: rgb(51,102,255);
	animation: cssload-movement 1320ms ease 1650ms infinite alternate;
		-o-animation: cssload-movement 1320ms ease 1650ms infinite alternate;
		-ms-animation: cssload-movement 1320ms ease 1650ms infinite alternate;
		-webkit-animation: cssload-movement 1320ms ease 1650ms infinite alternate;
		-moz-animation: cssload-movement 1320ms ease 1650ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(12) {
	background: rgb(51,102,255);
	animation: cssload-movement 1320ms ease 1815ms infinite alternate;
		-o-animation: cssload-movement 1320ms ease 1815ms infinite alternate;
		-ms-animation: cssload-movement 1320ms ease 1815ms infinite alternate;
		-webkit-animation: cssload-movement 1320ms ease 1815ms infinite alternate;
		-moz-animation: cssload-movement 1320ms ease 1815ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(13) {
	background: rgb(51,102,255);
	animation: cssload-movement 1320ms ease 1980ms infinite alternate;
		-o-animation: cssload-movement 1320ms ease 1980ms infinite alternate;
		-ms-animation: cssload-movement 1320ms ease 1980ms infinite alternate;
		-webkit-animation: cssload-movement 1320ms ease 1980ms infinite alternate;
		-moz-animation: cssload-movement 1320ms ease 1980ms infinite alternate;
}



@keyframes cssload-movement {
  from {
    transform: scale(1.0) translateY(0px) rotateX(0deg);
    box-shadow: -30px 0px 20px rgb(51,153,230);
  }
  to {
    /*transform: scale(1.5) translateY(-18px) rotateX(0deg);*/
    box-shadow: 30px 0px 40px rgb(51,153,230);
    background: rgb(51,153,255);
  }
}

@-o-keyframes cssload-movement {
  from {
    -o-transform: scale(1.0) translateY(0px) rotateX(0deg);
    box-shadow: 0 0 0 rgba(0,0,0,0);
  }
  to {
    -o-transform: scale(1.5) translateY(-18px) rotateX(0deg);
    box-shadow: 0 18px 29px rgb(51,153,255);
    background: rgb(51,153,255);
  }
}

@-ms-keyframes cssload-movement {
  from {
    -ms-transform: scale(1.0) translateY(0px) rotateX(0deg);
    box-shadow: 0 0 0 rgba(0,0,0,0);
  }
  to {
    -ms-transform: scale(1.5) translateY(-18px) rotateX(0deg);
    box-shadow: 0 18px 29px rgb(51,153,255);
    background: rgb(51,153,255);
  }
}

@-webkit-keyframes cssload-movement {
  from {
    -webkit-transform: scale(1.0) translateY(0px) rotateX(0deg);
    box-shadow: 0 0 0 rgba(0,0,0,0);
  }
  to {
    -webkit-transform: scale(1.5) translateY(-18px) rotateX(0deg);
    box-shadow: 0 18px 29px rgb(51,153,255);
    background: rgb(51,153,255);
  }
}

@-moz-keyframes cssload-movement {
  from {
    -moz-transform: scale(1.0) translateY(0px) rotateX(0deg);
    box-shadow: 0 0 0 rgba(0,0,0,0);
  }
  to {
    -moz-transform: scale(1.5) translateY(-18px) rotateX(0deg);
    box-shadow: 0 18px 29px rgb(51,153,255);
    background: rgb(51,153,255);
  }
}