<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>Живое слово</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'zh_slovo/zhslovo_style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'zh_slovo/main_style.css' /%}">
    <script type="text/javascript" src="{% static 'zh_slovo/jquery-1.11.3.js' %}"></script>

</head>
<body>

<div>

{% block header %}
<header class="page-header">
            <a class="header-logo" title="На главную" rel="home" href="http://totaldict.ru/">Тотальный диктант</a>
			</header>

            {% endblock %}


     {% block content %}

    <script>
        jQuery(function($){

            $('#dictation').submit(function(event){
                event.preventDefault();
                $("<img>").attr('alt', "Ждите ответа").appendTo("#dictation")
                $.getJSON("/zhivoeslovo/ajax/results", $("#dictation").serialize(), function(result){
                    $('#dictation').remove();
                    $.each(result, function(key, value){
                        $('<p>').text(key + ":" + value).appendTo('.content')
                    })
                })
            });

        });
    </script>


     <div class="content">

         <iframe width="420" height="315" src="{{ video }}" allowFullScreen></iframe>

    <form action="/zhivoeslovo/ajax/results" method="get" id="dictation">
        {% csrf_token %}

        <p>Писать диктант сюда:</p>
        <p><textarea rows="10" cols="55" name="dict_text"></textarea></p>
        <input type="submit" class = "button" id="Check" value="Проверить">
    </form>

    </div>


    {% endblock %}


			<footer>

            {% block footer %}

            <ul> Даты диктантов:
            {% for dict in dictations %}

            <li>{{ dict.data }}</li>

            {% endfor %}
            </ul>

            {% endblock %}
			</footer>

</div>


</body>
</html>



