<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>Живое слово</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'zh_slovo/zhslovo_style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'zh_slovo/main_style.css' /%}">

</head>
<body>

<div>

{% block header %}
<header class="page-header">
                				<a class="header-logo" title="На главную" rel="home" href="http://totaldict.ru/">Тотальный диктант</a>
			</header>

            {% endblock %}


     {% block content %}
    <div class="content">

        <h1>Живое слово</h1>
        <div class="list-group years-list">
                    <a href="/zhivoeslovo/write_dict/" class="list-group-item">
                    <div class="chevron"><span class="glyphicon glyphicon-chevron-right"></span></div>
                    <img src="2015/1-2/annushkin.png" class="author">
                    <div class="body">
                        <h3 class="list-group-item-heading">Живое слово. Диктант.</h3>
                        <p class="list-group-item-text">
        Читает Аннушкин Владимир Иванович, профессор кафедры русской словесности и межкультурной коммуникации Института русского языка имени А.С. Пушкина.
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </div>

			</div>

    {% endblock %}


			<footer>

            {% block footer %}
				<nav>
			<dl class="footer-menu">
			<dt><a href="http://totaldict.ru/about/"
			       class="footer-menu-item">О проекте</a></dt>
									<dd><a href="http://totaldict.ru/about/history/" class="footer-submenu-item">История</a></dd>
											<dd><a href="http://totaldict.ru/about/principles/" class="footer-submenu-item">Принципы</a></dd>
											<dd><a href="http://totaldict.ru/about/team/" class="footer-submenu-item">Команда</a></dd>
											<dd><a href="http://totaldict.ru/about/experts/" class="footer-submenu-item">Экспертная комиссия</a></dd>
											<dd><a href="http://totaldict.ru/about/faq/" class="footer-submenu-item">FAQ</a></dd>
							</dl>
			<dl class="footer-menu">
			<dt><a href="http://totaldict.ru/texts/"
			       class="footer-menu-item">Тексты</a></dt>
									<dd><a href="http://totaldict.ru/online/texts" class="footer-submenu-item">Тексты диктантов</a></dd>
							</dl>
			<dl class="footer-menu">
			<dt><a href="http://totaldict.ru/media/"
			       class="footer-menu-item">Медиа</a></dt>
									<dd><a href="http://totaldict.ru/media/photo/" class="footer-submenu-item">Фото</a></dd>
											<dd><a href="http://totaldict.ru/media/video/" class="footer-submenu-item">Видео</a></dd>
											<dd><a href="http://totaldict.ru/media/press/" class="footer-submenu-item">Пресса о нас</a></dd>
											<dd><a href="http://totaldict.ru/media/statistics/" class="footer-submenu-item">Статистика</a></dd>
							</dl>
			<dl class="footer-menu">
			<dt><a href="index.html"
			       class="footer-menu-item">Написать диктант онлайн</a></dt>
					</dl>
			<dl class="footer-menu">
			<dt><a href="http://totaldict.ru/newcities/"
			       class="footer-menu-item">Стать организатором</a></dt>
					</dl>
	</nav>				<address>
					<span class="copyright">&copy; 2004–2015, «Тотальный диктант»</span> <br />
					Всероссийская акция по проверке грамотности. Интерактивные диктанты
				</address>
            {% endblock %}
			</footer>

</div>


</body>
</html>